* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(253, 253, 253);
}

/* start side nav styles */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f2f2;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #424040;
    display: block;
}

.sidenav a:hover .dropdown-btn:hover {
    color: #474545;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #f7f2f2;
    padding-left: 10px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 12px;
    }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* end side nav styles */


.header {
    padding-top: 25px;
    margin-left: 200px;
    /* same as article */
    text-transform: uppercase;
    font-size: 22px;
}

article {
    margin-left: 200px;
    /* 50 px more width of the sidenav */
    max-width: 60%;
    padding-top: 50px;
}

#head {
    padding-left: 50px;
}

#explanation {
    padding-left: 100px;
}

#lists {
    padding-left: 100px;
}